@import url(Dosis.css);
@import url(Pinyon.css);

body{
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background: url(../img/back.png) #463a47 no-repeat;
    font-family: 'Dosis', sans-serif;
    color: white;
    font-weight:200;
    letter-spacing: 0.3em;
}
button{
    display: block;
    background: #5dc0ab;
    background-image: url(../img/curve.png);
    background-size: 100%;
    border: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    box-shadow: 0 0 0.5em 0.1em rgba(0,0,0,.5);
    cursor: pointer;
    padding: 0.5em 1em;
    margin: 1em auto;
}
a{
    color: inherit;
}

#tiles{
    max-width: 960px;
    margin: auto;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

#welcome{
    font-size: 2.25em;
    margin: 0.5em 0;
    text-shadow: 0 0 0.4em black;
    font-family: 'Pinyon Script', cursive;
}

.row{
    width: 50%;
    max-width: 480px;
    min-width: 320px;
    float: left;
    display: flex;
    display: -webkit-flex;
}
@media screen and (max-width: 640px){
    .row{width: 100%;margin:auto;float:none}
}

.square{
    position: relative;
    flex: 1;
    -webkit-flex: 1;
    perspective: 1000px;
    -webkit-perspective: 1000px;
}
.square:before{
    content: "";
    display: block;
    padding-top: 75%;
}
.content{
    cursor: pointer;
    position:  absolute;
    top: .15em;
    left: .15em;
    bottom: .15em;
    right: .15em;
    background: #5dc0ab;
    background-image: url(../img/curve.png);
    background-size: 100%;
    font-size: 1.3em;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 0.1em 0.1em 0.3em 0 rgba(0,0,0,.2);
    -o-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    overflow: hidden;
}
.animate{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.content:hover,.content:active,button:hover,button:active{
    background:#17a587;
    background-image: url(../img/curve.png);
    background-size: 100%;
}
.large-text{
    font-size: 2em;
}
.bottom-left{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5em;
}
.content img{
    margin: 0 -10%;
    width: 120%;
    min-height: 100%;
}

#view{
    background: url(../img/back.png) #463a47 no-repeat;
    box-shadow: 0 0 1em 0.1em rgba(0,0,0,.5);
    padding: 1em;
    position: fixed;
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    visibility: hidden;
    z-index: 999;
}
#view.show-content{
    top: 1em;
    bottom: 1em;
    right: 1em;
    left: 1em;
}
#back, #back-msg{
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    width: 70%;
}
@media screen and (max-width: 640px){
    #view.show-content{
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: auto;
    }
    #back{
        position: initial;
        margin: 1em auto;
    }
}


.footer{
    width: 100%;
    height: 3em;
    padding: 1em 0;
    font-size: 1em;
    float: left;
}

.show-content{
    visibility: visible !important;
    -o-transform: rotateY(0deg) !important;
    -moz-transform: rotateY(0deg) !important;
    -webkit-transform: rotateY(0deg) !important;
    transform: rotateY(0deg) !important;
}
.change-content{
    -o-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
}

#messages{
    position: absolute;
    left: 1em;
    right: 1em;
    top: 14.5em;
    bottom: 5em;
    overflow-y: auto;
}
#messages .message {
    background: url(../img/curve.png) white no-repeat bottom;
    color: black;
    box-shadow: 0 0 0.5em 0.1em rgba(0,0,0,.5);
    margin: 1em;
    float: left;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
#messages .message .sender{
    float: left;
    margin: 0.5em;
}
#messages .message .msg{
     float: left;
     width: 100%;
     padding: 0.5em 3em;
     text-align: left;
     box-sizing: border-box;
}
#messages .message .time{
    float: left;
    width: 100%;
    text-align: right;
    padding: 0.2em;
    box-sizing: border-box;
}
.emoji{
    width: 1em;
}
#message-hint{display: none;}
@media screen and (max-width: 640px){
    #messages{display: none;}
    #message-hint{
        display: block;
        position: absolute;
        top: 13em;
    }
}

#new-msg{
    position: absolute;
    text-align: left;
    float: left;
    left: 2em;
    right: 3em;
}
#msg-name{
    margin: 0.5em;
    width: 12em;
}
#msg-wrap{
    height: 4em;
    right: 5em;
    position: absolute;
    left: 0;
    padding: 0;
}
#msg-content{
    resize: none;
    width: 100%;
    height: 100%;
}
#post-msg{
    margin: 0.5em auto;
    float: right;
}

#bridesmaids div, #groomsmen div{
    margin: 1em auto;
}