<h3>{{title}}</h3>
<div id="registry">
    <div class="location">
        <a href="https://www.sears.com/giftregistry/landing/registry/900088259953010101" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Sears_logo_2010-present.svg/1000px-Sears_logo_2010-present.svg.png"/>
        </a>
    </div>
    <div class="location">
        <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_owner.jsp?registryId=542667763&eventType=Wedding&_requestid=6545541" target="_blank">
            <img src="https://www.bedbathandbeyond.com/_assets/global/images/logo/logo_br.png"/>
        </a>
    </div>
    <div class="location">
        <a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=j8Gkgm5YV5R2Br8hHArFcQ&registryType=WEDDING" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Target_logo.svg/1000px-Target_logo.svg.png"/>
        </a>
    </div>
</div>
<button route="/" class="animate" id="back">Back</button>